body {
    background: #000;
    color: white;
}

.col {
    display: inline-flex;
    gap: 10px;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    border: 2px solid white;
    width: 20%;
    height: 80px;
    padding-bottom: 20px;
}